{% extends "base.html" %}
{% block main %}
<main>
	{% include 'includes/global/page-header.html' %}
    <a id="top"></a>
	<div class="container content">
		<div class="row">
            <div class="col-lg-3 mx-auto">
                {% include 'includes/resources/sidebar.html' %}
            </div>
           <div class="col-lg-9 order-lg-first mx-auto">
                 <span id="1-tools"></span>
                 {{ tools_markdown }}
                 {% include 'includes/resources/tools-table.html' %}
                 {% include 'includes/resources/glossary.html' %}
            </div>
        </div>
    </div>
</main>
{% endblock %}