<h2 id="6-vocabulary">6 Vocabulaire</h2>
  {% for k,v in uniqueTerms.iterrows() %}
    <div class="term-table-wrapper">
        <div class="table-responsive print-avoid">
            <table class="table table-compact table-terms">
                <thead>
                    <tr>
                        <th colspan="2">Nom du terme
                            <span class="title">
                                <span id="{{ v['term_local_name'] }}">{{ v['term_ns_name'] }}</span>
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
							<th scope="row">IRI du terme</th>
							<td>{{ v['term_iri']|urlize }}</td>
						</tr>
                        <tr>
                            <th scope="row">Modifié</th>
                            <td>{{ v['term_modified'] }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Version de l'IRI du terme</th>
                            <td>{{ v['term_version_iri']|urlize }}</td>
                        </tr>

                        {% if v['label_fr'] is number %}
                            <tr>
                                <th scope="row">Label</th>
                                <td>{{ v['label'] }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <th scope="row">Label</th>
                                <td>{{ v['label_fr'] }}</td>
                            </tr>
                        {% endif %}

                        {% if v['definition_fr'] is number %}
                            <tr>
                                <th scope="row">Définition</th>
                                <td>{{ v['definition'] }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <th scope="row">Définition</th>
                                <td>{{ v['definition_fr'] }}</td>
                            </tr>
                        {% endif %}
						{% if v['usage_fr'] is number %}
						{% else %}
						<tr>
							<th scope="row">Utilisation</th>
							<td>{{ v['usage_fr'] }}</td>
						</tr>
						{% endif %}

						{% if v['notes_fr'] is number %}
						{% else %}
						<tr>
							<th scope="row">Notes</th>
							<td>{{ v['notes_fr'] }}</td>
						</tr>
						{% endif %}

						{% if v['examples'] is number %}
						{% else %}
						{% set list1 = v['examples'].split('`, `') %}
						<tr>
							<th scope="row">Exemples</th>
							<td>
								<ul class="td-list">
									{% for item in list1 %}
										<li><span>{{ item|replace("`","") }}</span></li>
									{% endfor %}
								</ul>

							</td>
						</tr>

						{% endif %}

						{% if v['datatype'] is number %}
						{% else %}
						<tr>
							<th scope="row">Type de données</th>
                            {% if v['datatype'] %}
								<td>{{ v['datatype'] }}</td>
                            {% else %}
                            	<td>array< self ></td>
                            {%  endif %}
						</tr>
						{% endif %}


						{%  if(v['term_local_name'] != 'hasIdentifier') %}
	                        <tr>
								<th scope="row">Obligatoire</th>
								<td>{{ v['is_required'] }}</td>
							</tr>
                        {%  endif %}

						{%  if(v['term_local_name'] != 'hasIdentifier') %}
                        <tr>
							<th scope="row">Répétable</th>
							<td>{{ v['is_repeatable'] }}</td>
						</tr>
						{%  endif %}

                        <tr>
							<th scope="row">Type RDF</th>
                            {%  if(v['rdf_type'] == 'http://www.w3.org/1999/02/22-rdf-syntax-ns#Property')  %}
                                <td class="property"><a href="{{ v['rdf_type'] }}">rdf:Property</a></td>
                            {%  else %}
                                <td class="class"><a href="{{ v['rdf_type'] }}">rdfs:Class</a></td>
                            {%  endif %}
						</tr>
				</tbody>
			</table>
            {% include 'includes/term-list/sssom-table.html' %}
        </div>
    </div>
{% endfor %}